<!DOCTYPE html>
<html>
  <head>
    <title>LAST </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	YOU ARE FINISHED!!!! WASNT THAT EASY
    <%= JSON.stringify(cycle) %>
  </body>
</html>