<%  courses.forEach(function(course) { %>
  <%- link_to(course.dept + course.num, course.dept + '/' + course.num) %> <br>
<% }) %>
<br><br>
<form method = "post">
  Deparment Name: <input type = 'text' name = "dept">
  <br>
  Course Number: <input type = 'text' name = "num">
  <br>
  <input type = "submit" value = "Submit">
  <br>
</form>
